The following is an excerpt from Chapter 5 of Watson's Data Management 6th Edition

> Consider the case when items are sold. We can immediately identify two entities: SALE and ITEM. A sale can contain many items, and an item can appear in many sales. We are not saying the same item can be sold many times, but the particular type of item (e.g., a compass) can be sold many times; thus we have a many-to-many (m:m) relationship between SALE and ITEM. When we have an m:m relationship, we create a third entity to link the entities through two 1:m relationships. Usually, it is fairly easy to name this third entity. In this case, this third entity, typically known as an associative entity, is called LINE ITEM. A typical sales form lists the items purchased by a customer. Each of the lines appearing on the order form is generally known in retailing as a line item, which links an item and a sale.

The following ERD shows the data schema

![ERD](images/sale_erd.png)

The file `data/sales_data.xlsx` is an Excel spreadsheet containing three workbooks with data about `sale`, `item`, and `lineitem`. The code below loads the data into Pandas data frames. Use the data frames to answer the following questions:

- List the name, quantity, price, and value of items sold on January 16, 2021
- List items that were sold on January 16, 2021, or are brown
- List items that were sold on January 16, 2021, and are brow
- Report all clothing items (type “C”) for which a sale is recorded
- Report all clothing items that have not been sold
- Find the items that have appeared in all sales

In [76]:
import pandas as pd

In [77]:
sale = pd.read_excel('data/sales_data.xlsx', sheet_name='sale')
item = pd.read_excel('data/sales_data.xlsx', sheet_name='item') 
lineitem = pd.read_excel('data/sales_data.xlsx', sheet_name='lineitem')

In [78]:
sale

   SALENO   SALEDATE  SALETEXT
0       1 2021-01-15       NaN
1       2 2021-01-15       NaN
2       3 2021-01-15       NaN
3       4 2021-01-15       NaN
4       5 2021-01-16       NaN

In [79]:
lineitem

    LINENO  LINEQTY  LINEPRICE  SALENO  ITEMNO
0        1        1       4.50       1       2
1        1        1      25.00       2       6
2        2        1      20.00       2      16
3        3        1      25.00       2      19
4        4        1       2.25       2       2
5        1        1     500.00       3       4
6        2        1       2.25       3       2
7        1        1     500.00       4       4
8        2        1      65.00       4       9
9        3        1      60.00       4      13
10       4        1      75.00       4      14
11       5        1      10.00       4       3
12       6        1       2.25       4       2
13       1       50      36.00       5      10
14       2       50      40.50       5      11
15       3        8     153.00       5      12
16       4        1      60.00       5      13
17       5        1       0.00       5       2

In [80]:
first_merge = pd.merge(lineitem,sale,on='SALENO')
data = pd.merge(first_merge,item,on='ITEMNO',how='right')
data

,LINENO,LINEQTY,LINEPRICE,SALENO,ITEMNO,SALEDATE,SALETEXT,ITEMNAME,ITEMTYPE,ITEMCOLOR
0,NaN,NaN,NaN,NaN,1,NaT,NaN,Pocket knife - Nile,E,Brown
1,1.0,1.0,4.50,1.0,2,2021-01-15,NaN,Pocket knife - Avon,E,Brown
2,4.0,1.0,2.25,2.0,2,2021-01-15,NaN,Pocket knife - Avon,E,Brown
3,2.0,1.0,2.25,3.0,2,2021-01-15,NaN,Pocket knife - Avon,E,Brown
4,6.0,1.0,2.25,4.0,2,2021-01-15,NaN,Pocket knife - Avon,E,Brown
5,5.0,1.0,0.00,5.0,2,2021-01-16,NaN,Pocket knife - Avon,E,Brown
6,5.0,1.0,10.00,4.0,3,2021-01-15,NaN,Compass,N,-
7,1.0,1.0,500.00,3.0,4,2021-01-15,NaN,Geo positioning system,N,-
8,1.0,1.0,500.00,4.0,4,2021-01-15,NaN,Geo positioning system,N,-
9,NaN,NaN,NaN,NaN,5,NaT,NaN,Map measure,N,-
10,1.0,1.0,25.00,2.0,6,2021-01-15,NaN,Hat - Polar explorer,C,Red
11,NaN,NaN,NaN,NaN,7,NaT,NaN,Hat - Polar explorer,C,White
12,NaN,NaN,NaN,NaN,8,NaT,NaN,Boots - snake proof,C,Green
13,2.0,1.0,65.00,4.0,9,2021-01-15,NaN,Boots - snake proof,C,Black
14,1.0,50.0,36.00,5.0,10,2021-01-16,NaN,Safari chair,F,Khaki
15,2.0,50.0,40.50,5.0,11,2021-01-16,NaN,Hammock,F,Khaki
16,3.0,8.0,153.00,5.0,12,2021-01-16,NaN,Tent - 8 person,F,Khaki
17,3.0,1.0,60.00,4.0,13,2021-01-15,NaN,Tent - 2 person,F,Khaki
18,4.0,1.0,60.00,5.0,13,2021-01-16,NaN,Tent - 2 person,F,Khaki
19,4.0,1.0,75.00,4.0,14,2021-01-15,NaN,Safari cooking kit,E,-
20,NaN,NaN,NaN,NaN,15,NaT,NaN,Pith helmet,C,Khaki
21,2.0,1.0,20.00,2.0,16,2021-01-15,NaN,Pith helmet,C,White
22,NaN,NaN,NaN,NaN,17,NaT,NaN,Map case,N,Brown
23,NaN,NaN,NaN,NaN,18,NaT,NaN,Sextant,N,-
24,3.0,1.0,25.00,2.0,19,2021-01-15,NaN,Stetson,C,Black
25,NaN,NaN,NaN,NaN,20,NaT,NaN,Stetson,C,Brown

In [81]:
data[data['SALEDATE'] == '2021-01-16']

,LINENO,LINEQTY,LINEPRICE,SALENO,ITEMNO,SALEDATE,SALETEXT,ITEMNAME,ITEMTYPE,ITEMCOLOR
5,5.0,1.0,0.0,5.0,2,2021-01-16,NaN,Pocket knife - Avon,E,Brown
14,1.0,50.0,36.0,5.0,10,2021-01-16,NaN,Safari chair,F,Khaki
15,2.0,50.0,40.5,5.0,11,2021-01-16,NaN,Hammock,F,Khaki
16,3.0,8.0,153.0,5.0,12,2021-01-16,NaN,Tent - 8 person,F,Khaki
18,4.0,1.0,60.0,5.0,13,2021-01-16,NaN,Tent - 2 person,F,Khaki

In [82]:
data[(data['SALEDATE'] == '2021-01-16') & (data['ITEMCOLOR']=='Brown')]

,LINENO,LINEQTY,LINEPRICE,SALENO,ITEMNO,SALEDATE,SALETEXT,ITEMNAME,ITEMTYPE,ITEMCOLOR
5,5.0,1.0,0.0,5.0,2,2021-01-16,NaN,Pocket knife - Avon,E,Brown

In [83]:
data[(data['ITEMTYPE']=='C') & (pd.notna(data['SALEDATE']))]

,LINENO,LINEQTY,LINEPRICE,SALENO,ITEMNO,SALEDATE,SALETEXT,ITEMNAME,ITEMTYPE,ITEMCOLOR
10,1.0,1.0,25.0,2.0,6,2021-01-15,NaN,Hat - Polar explorer,C,Red
13,2.0,1.0,65.0,4.0,9,2021-01-15,NaN,Boots - snake proof,C,Black
21,2.0,1.0,20.0,2.0,16,2021-01-15,NaN,Pith helmet,C,White
24,3.0,1.0,25.0,2.0,19,2021-01-15,NaN,Stetson,C,Black

In [84]:
data.loc[(data['ITEMTYPE']=='C') & (pd.isna(data['SALEDATE'])),'ITEMNAME']

11    Hat - Polar explorer
12     Boots - snake proof
20             Pith helmet
25                 Stetson
Name: ITEMNAME, dtype: object

In [92]:
data2 = data.set_index(['SALENO','ITEMNO']).sort_index()
data2

               LINENO  LINEQTY  LINEPRICE   SALEDATE  SALETEXT  \
SALENO ITEMNO
1.0    2          1.0      1.0       4.50 2021-01-15       NaN
2.0    2          4.0      1.0       2.25 2021-01-15       NaN
       6          1.0      1.0      25.00 2021-01-15       NaN
       16         2.0      1.0      20.00 2021-01-15       NaN
       19         3.0      1.0      25.00 2021-01-15       NaN
3.0    2          2.0      1.0       2.25 2021-01-15       NaN
       4          1.0      1.0     500.00 2021-01-15       NaN
4.0    2          6.0      1.0       2.25 2021-01-15       NaN
       3          5.0      1.0      10.00 2021-01-15       NaN
       4          1.0      1.0     500.00 2021-01-15       NaN
       9          2.0      1.0      65.00 2021-01-15       NaN
       13         3.0      1.0      60.00 2021-01-15       NaN
       14         4.0      1.0      75.00 2021-01-15       NaN
5.0    2          5.0      1.0       0.00 2021-01-16       NaN
       10         1.0     50.0      36.00 2021-01-16       NaN
       11         2.0     50.0      40.50 2021-01-16       NaN
       12         3.0      8.0     153.00 2021-01-16       NaN
       13         4.0      1.0      60.00 2021-01-16       NaN
NaN    1          NaN      NaN        NaN        NaT       NaN
       5          NaN      NaN        NaN        NaT       NaN
       7          NaN      NaN        NaN        NaT       NaN
       8          NaN      NaN        NaN        NaT       NaN
       15         NaN      NaN        NaN        NaT       NaN
       17         NaN      NaN        NaN        NaT       NaN
       18         NaN      NaN        NaN        NaT       NaN
       20         NaN      NaN        NaN        NaT       NaN

                             ITEMNAME ITEMTYPE ITEMCOLOR
SALENO ITEMNO
1.0    2          Pocket knife - Avon        E     Brown
2.0    2          Pocket knife - Avon        E     Brown
       6         Hat - Polar explorer        C       Red
       16                 Pith helmet        C     White
       19                     Stetson        C     Black
3.0    2          Pocket knife - Avon        E     Brown
       4       Geo positioning system        N         -
4.0    2          Pocket knife - Avon        E     Brown
       3                      Compass        N         -
       4       Geo positioning system        N         -
       9          Boots - snake proof        C     Black
       13             Tent - 2 person        F     Khaki
       14          Safari cooking kit        E         -
5.0    2          Pocket knife - Avon        E     Brown
       10                Safari chair        F     Khaki
       11                     Hammock        F     Khaki
       12             Tent - 8 person        F     Khaki
       13             Tent - 2 person        F     Khaki
NaN    1          Pocket knife - Nile        E     Brown
       5                  Map measure        N         -
       7         Hat - Polar explorer        C     White
       8          Boots - snake proof        C     Green
       15                 Pith helmet        C     Khaki
       17                    Map case        N     Brown
       18                     Sextant        N         -
       20                     Stetson        C     Brown

In [95]:
data2.index

MultiIndex([(1.0,  2),
            (2.0,  2),
            (2.0,  6),
            (2.0, 16),
            (2.0, 19),
            (3.0,  2),
            (3.0,  4),
            (4.0,  2),
            (4.0,  3),
            (4.0,  4),
            (4.0,  9),
            (4.0, 13),
            (4.0, 14),
            (5.0,  2),
            (5.0, 10),
            (5.0, 11),
            (5.0, 12),
            (5.0, 13),
            (nan,  1),
            (nan,  5),
            (nan,  7),
            (nan,  8),
            (nan, 15),
            (nan, 17),
            (nan, 18),
            (nan, 20)],
           names=['SALENO', 'ITEMNO'])

In [101]:
idx = pd.IndexSlice
data2.loc[idx[:, :],:]

               LINENO  LINEQTY  LINEPRICE   SALEDATE  SALETEXT  \
SALENO ITEMNO
1.0    2          1.0      1.0       4.50 2021-01-15       NaN
2.0    2          4.0      1.0       2.25 2021-01-15       NaN
       6          1.0      1.0      25.00 2021-01-15       NaN
       16         2.0      1.0      20.00 2021-01-15       NaN
       19         3.0      1.0      25.00 2021-01-15       NaN
3.0    2          2.0      1.0       2.25 2021-01-15       NaN
       4          1.0      1.0     500.00 2021-01-15       NaN
4.0    2          6.0      1.0       2.25 2021-01-15       NaN
       3          5.0      1.0      10.00 2021-01-15       NaN
       4          1.0      1.0     500.00 2021-01-15       NaN
       9          2.0      1.0      65.00 2021-01-15       NaN
       13         3.0      1.0      60.00 2021-01-15       NaN
       14         4.0      1.0      75.00 2021-01-15       NaN
5.0    2          5.0      1.0       0.00 2021-01-16       NaN
       10         1.0     50.0      36.00 2021-01-16       NaN
       11         2.0     50.0      40.50 2021-01-16       NaN
       12         3.0      8.0     153.00 2021-01-16       NaN
       13         4.0      1.0      60.00 2021-01-16       NaN
NaN    1          NaN      NaN        NaN        NaT       NaN
       5          NaN      NaN        NaN        NaT       NaN
       7          NaN      NaN        NaN        NaT       NaN
       8          NaN      NaN        NaN        NaT       NaN
       15         NaN      NaN        NaN        NaT       NaN
       17         NaN      NaN        NaN        NaT       NaN
       18         NaN      NaN        NaN        NaT       NaN
       20         NaN      NaN        NaN        NaT       NaN

                             ITEMNAME ITEMTYPE ITEMCOLOR
SALENO ITEMNO
1.0    2          Pocket knife - Avon        E     Brown
2.0    2          Pocket knife - Avon        E     Brown
       6         Hat - Polar explorer        C       Red
       16                 Pith helmet        C     White
       19                     Stetson        C     Black
3.0    2          Pocket knife - Avon        E     Brown
       4       Geo positioning system        N         -
4.0    2          Pocket knife - Avon        E     Brown
       3                      Compass        N         -
       4       Geo positioning system        N         -
       9          Boots - snake proof        C     Black
       13             Tent - 2 person        F     Khaki
       14          Safari cooking kit        E         -
5.0    2          Pocket knife - Avon        E     Brown
       10                Safari chair        F     Khaki
       11                     Hammock        F     Khaki
       12             Tent - 8 person        F     Khaki
       13             Tent - 2 person        F     Khaki
NaN    1          Pocket knife - Nile        E     Brown
       5                  Map measure        N         -
       7         Hat - Polar explorer        C     White
       8          Boots - snake proof        C     Green
       15                 Pith helmet        C     Khaki
       17                    Map case        N     Brown
       18                     Sextant        N         -
       20                     Stetson        C     Brown

In [103]:
# Drop rows where 'SALENO' or 'ITEMNO' is NaN (optional, if needed)
data = data.dropna(subset=['SALENO', 'ITEMNO'])

# Get the total number of unique sales
total_sales = data['SALENO'].nunique()
total_sales

5

In [106]:
items_in_sales = data.groupby('ITEMNO')['SALENO'].nunique()
items_in_sales

ITEMNO
2     5
3     1
4     2
6     1
9     1
10    1
11    1
12    1
13    2
14    1
16    1
19    1
Name: SALENO, dtype: int64

In [124]:
all_sales_index = items_in_sales[items_in_sales == total_sales].index[0]
all_sales_index

2

In [128]:
data.loc[data['ITEMNO'] == all_sales_index,'ITEMNAME'].drop_duplicates()

1    Pocket knife - Avon
Name: ITEMNAME, dtype: object